@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
    font-family: Inter;
    min-height: 100%;
}

:root {
    --app-primary-1: #f6a740;
    --app-success: #46c46e;
    --app-error: #ed4245;
    --high-emphasis: rgba(255, 255, 255, 0.87);
    --medium-emphasis: rgba(255, 255, 255, 0.6);
    --low-emphasis: rgba(255, 255, 255, 0.38);
}
